<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>490077740075-uf3l61htm53gfv4i4d0mssqb23gf8pfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490077740075-uf3l61htm53gfv4i4d0mssqb23gf8pfo</string>
	<key>API_KEY</key>
	<string>AIzaSyA-r83x1wbIJ9eHZUCHFpLsFCfoyfd_13Y</string>
	<key>GCM_SENDER_ID</key>
	<string>490077740075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sean.RoadChecKReport</string>
	<key>PROJECT_ID</key>
	<string>roadcheckreport</string>
	<key>STORAGE_BUCKET</key>
	<string>roadcheckreport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:490077740075:ios:695528769ca15275</string>
	<key>DATABASE_URL</key>
	<string>https://roadcheckreport.firebaseio.com</string>
</dict>
</plist>